# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Entornos virtuales
venv/
.env

# ================================
# FastAPI / Uvicorn
# ================================
*.sqlite3
*.db

# ================================
# Archivos subidos / procesados
# ================================
uploads/
*.pdf
*.txt

# ================================
# OCR / Procesamiento
# ================================
*.ppm
*.pgm
*.png
*.jpg
*.jpeg

# ================================
# IDEs y editores
# ================================
.vscode/
.idea/
*.swp

# ================================
# Sistema operativo
# ================================
.DS_Store
Thumbs.db

